*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/**Boot CSS**/

html,body{
    height: 100%;

}

input{
    border: 2;
}


img{
    width: 100%;
    max-width: 400px;
}

.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding:0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}


/**Estilização do site**/

header{
    padding:50px 0;
    background: #363636

}

header .logo {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    }

.logo a{
    text-decoration: none;
    color: white;
    
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top:6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding:0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    text-decoration: underline;
}


section.banner-principal{

	width: 100%;
	height: 550px;
	background-image: url('../images/black.jpg');
	background-size: cover;

	
}


.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.0);
}


section.banner-principal form{
	width: 93%;
	max-width: 600px;
	z-index: 2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

section.banner-principal form h2{
	color: white;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
}


section.mochilas{ /* <section class="mochilas"> */
    padding: 40px 0;
    background: #FFF;
}

section.mochilas h2.title{ /*<h2 class="title">MOCHILA</h2> */
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #000000;
    border: 2px solid black
}

section.carregadores{  /* <section class="especialidades"> */
    padding: 40px 0;
    background: #FFF;
}



section.carregadores h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #000000;
    border: 2px solid black;
}

.box-mochila{  /*<div class="w33 left box-mochila"> */
    margin:40px 0;
    padding: 0 30px;
    text-align: center;
}


.box-carregador{
    margin:40px 0;
    padding: 0 30px;
    text-align: center;
}

.box-mochila{
    margin:40px 0;
    padding: 0 30px;
    text-align: center;
}


.box-mochila h4{
    font-weight: 300;
    font-size: 25px;
    color: #FFF;
     background: #363636
}

.box-carregador h4{
    font-weight: 300;
    font-size: 25px;
    color: #FFF;
    background: #363636;
}



.box-mochila p{
    color: #444;
    font-size: 15px;
    margin-top: 5px;
    color: #000000
}

.box-carregador p{
   
    font-size: 15px;
    margin-top: 5px;
    color: #000000;
    
}


footer{
    background: #363636;
    padding: 30px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
}


@media screen and (max-width: 768px){




    img{
        float: none !important;
        display: block;
        margin:0 auto;
    }

    .w50{
        padding:20px;
        width: 100%;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }
    
    .box-especialidade{
        padding:40px 20px;
        margin: 0;
    }
}





@media screen and (max-width: 700px  ){
    nav.desktop{
        display: none;
    }



section.banner-principal{

    width: 100%;
    height: 200px;
    background-image: url('../images/black.jpg');
    background-size: cover;
    
}




    nav.mobile{
        display: block;
    }
    .botao-menu-mobile{
        font-size: 24px;
        cursor: pointer;
        color: white;
    }
    nav.mobile ul{
        top:55px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        display: block;
        text-align: center;
    }
    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom:1px solid #ccc;
        font-size: 17px;
        padding:8px 0;
    }
    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }
}
